/* Formatting req'd */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:800,300|Montserrat:200');


.red{
    background-color: red;
}

* {
    margin:0 ! important;
    padding:0 ! important;
}

body{
    background-color:rgba(20, 20, 26, 1);
}

.position-fixed{
    position: fixed !important;
}

p{
    color: #D1D1D1;
    opacity: 70%;
    font-family: 'Montserrat', sans-serif;
    font-size: 15.5px;
    line-height: 1.6rem;


}

.light-nav-bg{
    background-color: transparent;
}

.navbar-toggler {
    border: none;
    outline: none;
  }


h1{
    font-size: 72px;
}

button{
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

button:focus{
    outline: none;
}


.block-1{
    min-height: 100vh;
    width: 100%;
    background-color: black;
}

.orange-text {
    color: #C89331;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
}

.orange-text-p {
    color: #C89331;
    font-family: 'Montserrat', sans-serif;
}

.orange-text-nav {
    color: #C89331 !important;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}


.grey-text{
    color: #D1D1D1;
    font-family: 'Open Sans', sans-serif; 
    font-weight: 800;
}

.grey-icon{
    color: #D1D1D1;
}

a{
    text-decoration: none;
    color: inherit;
    transition: 200ms;
    transition-timing-function: ease-in-out;
    -webkit-transition: 200ms;
    -webkit-transition-timing-function: ease-in-out;
    cursor: pointer;
}



a:hover{
    color: #C89331 !important;
    transition: 200ms;
    transition-timing-function: ease-in-out;
    -webkit-transition: 200ms;
    -webkit-transition-timing-function: ease-in-out;
    cursor: pointer;
}
.grey-text-nav{
    color: #D1D1D1 !important;
    font-family: 'Montserrat', sans-serif !important; 
}

.dark-grey-text{
    color: #333333;
    font-family: 'Open Sans', sans-serif; 
    font-weight: 300;
}

.grey-text-p{
    color: #D1D1D1;
    font-family: 'Open Sans', sans-serif; 
    font-weight: 300;
}

.dark-bg{
    background-color: rgba(20, 20, 26, 1);
}

.box-1-img{
    background-image: url(../img/topcat.png);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 0px 0px 4000px rgba(0, 0, 0, 0.6) inset;
    min-height: 100vh;

}

.box-2-img{
    background-image: url(../img/custom-2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: 0px 0px 0px 4000px rgba(3, 3, 3, 0.85) inset;
    min-height: 100vh;
    
}

.box-1-arrow{
    background-image: url(../img/icons/downarrow.png);
    background-size: contain;
    background-position: right;
    overflow: hidden;
    background-repeat: no-repeat; 
    min-height: 105px;
    width: auto;
}

.flip {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.custom-button-1{
    align-content: center;
    object-fit: contain !important;
    overflow: hidden;


}
.custom-button-1:hover{
    filter: saturate(29%);
    transition: 200ms;
    transition-timing-function: ease-in-out;
    -webkit-transition: 200ms;
    -webkit-transition-timing-function: ease-in-out;
    cursor: pointer;
}

.tick{
    object-fit: contain;
}

h4{
    font-size: 60px !important;
}

.p-4{
    text-align: right;
}

@media (max-width: 768px){
    h4{    
        font-size: 1.9rem !important;
    }
    .p-4{
        text-align: center;
    }
    p{
        text-align: center !important;
    }

}
.cross{
    object-fit: contain;
    background-color: transparent;
}

.box-2-arrow{
    background-image: url(../img/downarrow-2.svg);
    background-size: contain;
    background-position: center;
    overflow: hidden;
    background-repeat: no-repeat; 
    height: 100px;
    width: auto;
}

.custom-button-2{
    background-image: url(../img/donate-button.svg);
    background-size: cover;
    background-repeat: no-repeat;
    align-content: center;
    max-width: 300px;
    max-height: auto;
    transition: 200ms;
    transition-timing-function: ease-in-out;
    -webkit-transition: 200ms;
    -webkit-transition-timing-function: ease-in-out;
    cursor: pointer;
}

.custom-button-2:hover{
    filter: saturate(29%);
    transition: 200ms;
    transition-timing-function: ease-in-out;
    -webkit-transition: 200ms;
    -webkit-transition-timing-function: ease-in-out;
    cursor: pointer;
}


.hero-divider{
    background: #000000;
    opacity: 0.8;
}

.box-3-img{
    background-image: url(../img/pexels-photo-751173.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: 0px 0px 0px 4000px rgba(20, 22, 25, 0.5) inset;
    min-height: 100vh;
    
}

.filler-row-3{
    min-height: 150px;
}

.p-text-size-3{
    max-width: 600px;
}

.btn-space{
    padding: 15px;
}

.icon-bar{
    transition: 200ms;
    transition-timing-function: ease-in-out;
    -webkit-transition: 200ms;
    -webkit-transition-timing-function: ease-in-out;
}


.icon-bar:hover{
    transform: scale(1.15);  
    -webkit-transform: -webkit-scale(1.15);
    transition: 200ms;
    transition-timing-function: ease-in-out;
    -webkit-transition: 200ms;
    -webkit-transition-timing-function: ease-in-out;
    cursor: pointer;
}

.icon-bar-nav{
    height: 20px !important;
    width: auto !important;
}

.box-4-img{
    background: url(../img/animal-animal-photography-cat-1108598.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: 0px 0px 0px 4000px rgba(0, 0, 0, 0.3) inset;
    min-height: 80vh;
    background-attachment: fixed;

}

@media (max-width: 450px){

}

.box-5-img{
    background-color:rgba(20, 20, 26, 1);
    min-height: 80vh;

}

.bio-img{
    background-size: contain;
    background-repeat: no-repeat;
    align-content: center;
    border-radius: 50%;     
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    width: 230px    ;
    height: auto;
    transition: 200ms;
    transition-timing-function: ease-in-out;
    -webkit-transition: 300ms;
    -webkit-transition-timing-function: ease-in-out;

}

.bio-img:hover{
    filter: saturate(29%);
    -webkit-filter: -webkit-saturate(29%);
    transition: 200ms;
    transition-timing-function: ease-in-out;
    -webkit-transition: 200ms;
    -webkit-transition-timing-function: ease-in-out;
    cursor: pointer;

}

.box-6-img{
    background-image: url(../img/box-6.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: 0px 0px 0px 4000px rgba(20, 20, 26, 0.6) inset;
    min-height: 100vh;
}

.custom-button-3{
    align-content: center;
    max-width: 300px;
    max-height: auto;
    transition: 200ms;
    transition-timing-function: ease-in-out;
    -webkit-transition: 200ms;
    -webkit-transition-timing-function: ease-in-out;
    cursor: pointer;
}
.custom-button-3:hover{
    filter: saturate(29%);
    align-content: center;
    max-width: 300px;
    max-height: auto;
    transition: 200ms;
    transition-timing-function: ease-in-out;
    -webkit-transition: 200ms;
    -webkit-transition-timing-function: ease-in-out;
    cursor: pointer;
}




@media (max-width: 810px){

    h1{
        font-size: 45px !important;
    }
}

@media (max-width: 400px){

    h1{
        font-size: 36px !important;
    }
    
    p{
        padding: 15px !important;
        margin-right: 0 !important;
        margin-left: 0 !important;
        text-align: right !important;
    }
    .tick{
        display: none;
    }
    .cross{
        display: none;
    }

}

@media (max-width: 575px){
    .hide-when-narrow{
        display: none !important;
        
    }
    .show-when-narrow{
        display: inline-block !important;
        
    }


    #first-text{
        text-align: center !important;
        margin-left: 10px !important;
        margin-right: 10px !important;
        padding: 0 !important;
    }
    #second-container-h2{
        padding-bottom: 50px !important;
    }
    #findout-container-1{
       text-align: center !important;
    }
    .box-1-img{
        background-image: url(../img/mobile-container-1.png);
    }

}

@media (min-width: 575px){
    .hide-when-wide{
        display: none !important;
    }

}

@media (max-width: 645px){
    #findout-container-1{
        text-align: center !important;
     }
     #text-container-3{
         text-align: center !important;
     }
     .box-4-img{
        box-shadow: 0px 0px 0px 4000px rgba(0, 0, 0, 0.65) inset;

     }
 

}






