.red{
    background-color: red;
}

.grey{
    background-color: #333;
}

.green{
    background-color: green;
}

* {
    margin:0 ! important;
    padding:0 ! important;
}

.box-1{
    margin:0;
    min-height: 95vh;
    min-width: 100%;
}

.box-1-header{
    float: right;
    height: 200px;
}

.box-1-para{
    float: right;
    height: 200px;
}

.box-1-img{
    background-image: url(/img/pexels-photo-730896.png);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    background-repeat: no-repeat;
    min-height: 100vh
}