@import url('https://fonts.googleapis.com/css?family=Open+Sans:800|Montserrat');


.red{
    background-color: red;
}

.grey{
    background-color: #333;
}

.green{
    background-color: green;
}

* {
    margin:0 ! important;
    padding:0 ! important;
}

body{
    background-color: black;
}

.block-1{
    display: grid;
    height: 95vh;
    width: 100%;
    background-color: black;
}

.block-1 h1 {
    color: #C89331;
    size: 72px;
    font-family: 'Open Sans', sans-serif;
}


.box-1-img{
    background-image: url(/img/pexels-photo-730896.png);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    background-repeat: no-repeat;
    min-height: 100vh
}